<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular List App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="main" ng-app="listApp" ng-controller="GuestListController">
    <h1>Guest List</h1>
    <div class="add-item">
      <input ng-model="newItem" placeholder="Add Guest" class="add-text">
      <button ng-click="pushItem()">Add</button>
    </div>
    <ul>
      <li ng-repeat="i in items">
        {{i}}
        <span>x</span>
      </li>
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
